<header>
  <div class="header-logo">
    <a href="/">放課後デイサービス　サニーハウス</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">放課後デイサービス　サニーハウスとは</a>
    </li>
  </ul>
</header>
<div class="about-main">
  <h2>放課後デイサービスサニーハウスとは</h2>
  <p>
    子ども支援サポート施設です。
  </p>
</div>