<header>
  <div class="header-logo">
    <a href="/">放課後デイサービスサニーハウス</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">放課後デイサービスサニーハウスとは</a>
    </li>
    <li>
     <a href="/admin/users/new">新規登録</a>
    </li>
    <li>
     <a href="/login">ログイン</a>
    </li>
  </ul>
</header>
<h1>子どもサポート支援</h1>