<header>
  <div class="header-logo">
    <p>放課後デイサービスサニーハウス　ユーザー管理者画面</p>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/admin/users/index">ユーザー管理・編集</a>
    </li>
    <li>
     <a href="">ご利用状況確認</a>
    </li>    
  </ul>
</header>
